

.navbar {
    background-color: khaki;
    padding: 1rem;
    box-shadow: 2px 2px 3px black;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li {
    margin: 0;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .nav-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
    color: black;
  }
  


  
  
  
  

